@use 'base/variables' as v;
@use 'base/mixins' as m;

#collaborationContainer {
    list-style: none;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 1rem;

    .collaborationBin {
        display: grid;
        background-color: v.$blanco;
        padding: 2rem;
        border-radius: 1rem;

        .collaborationTitle {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        span {
            font-weight: 600;
        }
        p {
            margin: 0 0 .5rem 0;
        }

        .collaborationAction {
            margin-top: 2rem;
            align-self: end;
        }
    }
}