@use 'base/variables' as v;
@use 'base/mixins' as m;

footer {
    .footer-container {
        background-color: lighten(v.$azulOscuro, 0%);
        border-radius: 3rem;
        width: 80%;
        margin: auto;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .footer_cta {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;

            h2 {
                color: white;
                margin: 0;
            }

            .button-group {
                justify-content: flex-start;
                align-items: center;
                display: flex;

                .boton {
                    margin: .5rem;
                }
            }
        }

        .spacer {
            height: 5rem;
        }

        .footer-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .footer_brand-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;

                .footer_brand {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .logo {
                        img {
                            height: 2rem;
                        }
                        h1 {
                            font-size: 1.5rem;
                            font-weight: 300;
                            span {
                                font-weight: 500;
                            }
                        }


                    }
                    .brand-year {
                        color: v.$blanco;
                        font-weight: 300;
                        font-size: 1rem;
                    }
                }

                .footer_author {
                    margin-bottom: 2rem;
                    p {
                        margin: 0;
                        color: v.$blanco;
                    }
                }
            }

            .footer_nav-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                h4 {
                    margin: 0;
                    text-align: center;
                    color: v.$blanco;
                }
                .author_mail {
                    color: v.$blanco;
                }
                .social-links {
                    img {
                        width: 3rem;
                        height: 3rem;
                        &:hover {
                            opacity: .5;
                        }
                    }
                }
            }
        }
    }
}