@use 'base/variables' as v;
@use 'base/mixins' as m;

.logo {
    display: flex;
    align-items: center;
    justify-content: center;


    img {
        width: 10rem;
        height: auto;
    }

    .nexttask {
        font-weight: 400;
        font-size: 5rem;
        color: v.$blanco;
        margin: 0;

        span {
            font-weight: 700;
        }
    }

    @include m.tablet {
        img {
            width: 4rem;
            height: auto;
        }

        .nexttask {
            font-size: 2.5rem;
        }
    }
}