@use 'base/variables' as v;
@use 'base/mixins' as m;

#welcome-message {
    text-align: center;
    padding: 0 5rem;
    color: v.$azulOscuro;
    font-size: 2rem;
    margin-top: 5rem;
}

.projectsList {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 1rem;

    .alerta {
        display: none;
    }

    .projectContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        background-color: v.$blanco;
        padding: .7rem;
        border-radius: 1rem;

        .projectTitle {
            text-align: center;
            margin: 1rem 0;
        }

        p {
            font-size: 1.3rem;
            font-weight: 400;
            padding: 0;
            text-align: center;

            span {
                text-align: center;
                font-weight: 600;
            }
        }
        .projectActions {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #viewProjectBtn {
            float: right;
            width: auto;
            font-size: 1.3rem;
            margin: 0;
            padding: 1rem 3rem;
        }

        #deleteProjectBtn {
            float: right;
            width: auto;
            font-size: 1.3rem;
            margin: 1rem 0;
            padding: 1rem 3rem;
        }

    }
}